[Desktop Entry]
Name=EXPLORER
Comment=Runs EXPLORER cartesian control
Exec=gnome-terminal -e "bash -c 'cd /home/orthopus/Documents/explorer_devenv/ && ./docker-run-explorer-cartesian.sh;$SHELL'"
Icon=/home/orthopus/orthopus_icon.png

Terminal=false
Type=Application
Categories=Utility;
